%h1 PrawnView Excercises
%ul
  %li
    %h3 Simple
    %ul
      %li= link_to('Hello World', :action=>:hello_world, :format=>'pdf')

  %li
    %h3 Document Options
    %ul
      %li= link_to('landscape', :action=>:landscape, :format=>'pdf')
      %li= link_to('A4', :action=>:a4, :format=>'pdf')
      %li= link_to('thick margins', :action=>:thick_margins, :format=>'pdf')

  %li
    %h3 Variables
    %ul
      %li= link_to('controller variable access', :action=>:controller_variables, :format=>'pdf')

  %li
    %h3 More Complicated
    %ul
      %li= link_to('Russian Boxes', :action=>:russian_boxes, :format=>'pdf')
  
