<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

	<%= yield :extra_scripts_and_styles %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="container">
		<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash clearfix hide_for_print" %>
    <% end %>
		
		<%= yield %>
	</div>

</body>
</html>
